In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw05.ipynb")

<img src="dsm-logo.png" style="width: 15%; float: right; padding: 1%; margin-right: 2%;"/>

# Discussion Week 7 – Rows, Join, Group, and Pivot

## Data 6, Fall 2024

Thanks for signing up for the first tutoring section of Data Science Mentors! We will cover the lecture materials of the previous week. Of course, I highly recommend checking out the [python reference sheet](https://data6.org/fa24/reference/) whenever working on problems.

In [ ]:
# imports
from datascience import *
import numpy as np

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 1: Popular Icons

The `icons` table contains iconic animals from social media alongside some interesting facts about them!

In [ ]:
icons = Table.read_table("icons.csv")
icons

The `sassy` table contains iconic animal's sassy levels

In [ ]:
sassy = Table.read_table("sassy.csv")
sassy

<hr style="border: 1px solid #fdb515;" />

## Question 1a: Joining 

Edwin wants to join the two tables, so he can see the information in one table called `joined_tbl`. Sassy levels should be the last column. He has inserted the row and table methods from lecture for your convenience!

| Method | Behavior |
|----|--------------|
| `table_1.join('column 1', table_2, 'column 2')` | Combines `table_1` and `table_2` by looking for matches in `'column 1'` of `table_1` and `'column 2'` of `table_2` and combining matching rows. Returns a new table.      |
| `table_1.join('column 1', table_2)`   | Shortcut to the above if `'column 1'` and `'column 2'` are equal (i.e. the labels of the join columns in both tables are equal).                                           |
| `t.row(index)`                        | Returns the row of `t` at the specified index.                                                                                                                            |
| `t.with_row(lst)`                     | Returns a copy of `t` with a single additional row.                                                                                                                       |

In [ ]:
joined_tbl = ...
joined_tbl

In [ ]:
grader.check("q1.1")

<hr style="border: 1px solid #fdb515;" />

## Question 1b: Missing icons?

The tutoring section realizes that there are big icons missing from the table. Come up with **two icons and their additional info** and add it to `joined_tbl`.

In [ ]:
joined_tbl = ...
joined_tbl

In [ ]:
grader.check("q1b")

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

# Part 2: NBA

Here, the `nba` table contains player data from all players in the nba in 2023-2024.

In [ ]:
nba = Table.read_table("nba.csv")
nba

<hr style="border: 1px solid #fdb515;" />

## Question 2a

How many people in the `nba` data have the same Salary rank? ie Damian, Giannis, Kawhi, and Paul are all ranked 7th so this counts as four people with the same rank.

In [ ]:
same = ...
same

In [ ]:
grader.check("q2a")

<hr style="border: 1px solid #fdb515;" />

## Question 2b

Create a pivot table with `Position` as the columns, `Team` as the columns, and the average `Points` as the values. Assign the pivot table to `pivoted`.

In [ ]:
pivoted = nba.pivot("Position", "Team", "Points", np.average)
pivoted

In [ ]:
grader.check("q2b")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)